@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin:0;
}

.encabezado {
    background-image: url(../images/background-head.jpg);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 46px;
    color: aliceblue;
    font-family: 'Merienda', sans-serif;
    height: 200px;    
}

.inactivo {
    pointer-events: none;
    text-decoration:none;
    color:grey;
  }

  .activo {
    pointer-events: auto;    
  }

.contenido {
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 229, 238);    
}

.procesar {
    padding: 30px;
}

.procesar__textoProcesar, .textoProcesado__contenidoMensaje {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    border: none;
}

.precaucion {
    font-family: 'Montserrat', sans-serif;
    margin: 1px 15px;
    font-size: 0.6em;    
}

.procesar__botones {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 5px;
}

.procesar__botones__encriptar {
    background-color: #0f69df;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    justify-content:space-between;
    margin: 0px 15px 10px;
    text-decoration: none;
    color: #faf3f3;
    font-family: 'Roboto Mono', sans-serif;    
}

.procesar__botones__desencriptar {
    background-color: #707d8e;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    justify-content:space-between;
    margin: 0px 15px 10px;
    text-decoration: none;
    color: #faf3f3;
    font-family: 'Roboto Mono', sans-serif;    
}

.procesar__botones__encriptar:hover, .procesar__botones__desencriptar:hover {
    background-color: #1756a8;
    box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.30)
}

.procesado {
    background-color: white;
    border-radius: 32px;
    margin: 40px 90px;
    padding: 10px;
    width: 350px; 
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.procesado__tituloMensaje, .procesado__contenidoMensaje, .textoProcesado__contenidoMensaje, .textoProcesado__ok {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.textoProcesado {
    background-color: white;
    border-radius: 32px;
    margin: 40px 90px;
    padding: 10px;
    width: 350px; 
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;    
}

#textoProcesado, .textoProcesado__ok {
    display: none;
}

.textoProcesado__contenidoMensaje {   
    margin: 10px;
    padding: 15px;
    height: 330px;
    flex-flow: column wrap;    
}

.textoProcesado__ok {
    background-color: #47913d;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    height: 25px;
    color: #faf3f3;    
    font-size: 11px;    
}

.procesadoBotones {
    margin: 10px;
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.textoProcesado__botonCopiar, .textoProcesado__botonFinalizar {
    background-color: #83ed76;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: #363030;
    font-family: 'Roboto Mono', sans-serif;
    flex-flow: column wrap; 
}

.textoProcesado__botonCopiar:hover, .textoProcesado__botonFinalizar:hover {
    background-color: #428f37;
    color: #faf5f5;
    box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.30)
}

.footer {
    background-color: rgb(68, 63, 63);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
    margin: auto;    
}

.footer > p {
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: whitesmoke;
}