@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin:0;
}

.encabezado {
    background-image: url(../images/background-head.jpg);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 46px;
    color: aliceblue;
    font-family: 'Merienda', sans-serif;
    height: 200px;    
}

.contenido {
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 229, 238);
}
.encriptar {
    padding: 30px;
}

.encriptar__textoEncriptar {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 15px;
    resize: none;
}

.precaucion {
    font-family: 'Montserrat', sans-serif;
    margin: 1px 15px;
    font-size: 0.6em;    
}

.encriptar__botones {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 5px;
}

.encriptar__botones__encriptar {
    background-color: #0f69df;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    justify-content:space-between;
    margin: 0px 15px 10px;
    text-decoration: none;
    color: #faf3f3;
    font-family: 'Roboto Mono', sans-serif;    
}

.encriptar__botones__desencriptar {
    background-color: #707d8e;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    justify-content:space-between;
    margin: 0px 15px 10px;
    text-decoration: none;
    color: #faf3f3;
    font-family: 'Roboto Mono', sans-serif;    
}

.encriptar__botones__encriptar:hover, .encriptar__botones__desencriptar:hover {
    background-color: #1756a8;
    box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.30)
}

.encriptado {
    background-color: white;
    border-radius: 32px;
    margin: 40px 90px;
    padding: 10px;
    width: 350px; 
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.encriptado__tituloMensaje, .encriptado__contenidoMensaje, .textoEncriptado__contenidoMensaje {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.textoEncriptado {
    background-color: white;
    border-radius: 32px;
    margin: 40px 90px;
    padding: 10px;
    width: 350px; 
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center; 
}

#textoEncriptado {
    display: none;
}

.textoEncriptado__contenidoMensaje {    
    margin: 20px;
    padding: 15px;
    height: 400px;
    flex-flow: column wrap; 
}

.textoEncriptado__botonCopiar {
    background-color: #83ed76;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 15px 10px;
    text-decoration: none;
    color: #363030;
    font-family: 'Roboto Mono', sans-serif;
}

.textoEncriptado__botonCopiar:hover {
    background-color: #428f37;
    color: #faf5f5;
    box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.30)
}

.textoEncriptado__noActivo {
    /*pointer-events: none; 
    cursor: default; */
}

.footer {
    background-color: rgb(68, 63, 63);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
    margin: auto;    
}

.footer > p {
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: whitesmoke;
}